@page "/counter"

@code
{
	[CascadingParameter]
	protected ExPopupMessageBox PopupMessageBox { get; set; } = default!;
}

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
		PopupMessageBox.ShowAsync("Counter", $"Current count: {currentCount}. Reset to 0?", null, OnClick, null, ExPopupMessageBox.ButtonYes, ExPopupMessageBox.ButtonNo);
	}

	private Task OnClick(string buttonText, object? tag)
	{
		if (buttonText == ExPopupMessageBox.ButtonYes)
		{
			currentCount = 0;
			StateHasChanged();
		}
		return Task.CompletedTask;
	}
}
